[SIP]
AUTOMATIC_DIALOG_SUPPORT = off
LOG_MESSAGE_CONTENT = true
CACHE_SERVER_CONNECTIONS = true
CACHE_CLIENT_CONNECTIONS = true
RECEIVE_UDP_BUFFER_SIZE = 65536
SEND_UDP_BUFFER_SIZE = 65536
REENTRANT_LISTENER = true
DEBUG_LOG =
SERVER_LOG =
THREAD_POOL_SIZE = 10
MAX_MESSAGE_SIZE = 65536
MAX_SERVER_TRANSACTIONS = 655350
DELIVER_UNSOLICITED_NOTIFY = true
AUTOMATIC_DIALOG_ERROR_HANDLING = false
DELIVER_TERMINATED_EVENT_FOR_ACK = true
AGGRESSIVE_CLEANUP = true
TRACE_LEVEL =