[COMMON]
LONG_CALL = 410
THREAD_SIZE = 5
QUEUE_SIZE = 10

[SIP]
SERVER_IP = 127.0.0.1
SERVER_PORT = 5090
STACK_NAME = UMEDIA

[RMQ]
AIS = Q_AIS
AIM = Q_AIM
AIWF = Q_AIWF
AIIF = Q_AIIF
HOST = 192.168.7.33
USER = acs
PORT = 5672
PASS = XMznXo3opsgV02aTxdnwJg==
AIWF_HOST = 192.168.7.33
AIWF_USER = acs
AIWF_PORT = 5672
AIWF_PASS = XMznXo3opsgV02aTxdnwJg==
THREAD_SIZE = 5
QUEUE_SIZE = 10


